body {
  background: url("picture/bg_lol.jpg");
  background-attachment: fixed;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
}
.head_text,
.welcome,
.logout {
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  font-family: "Microsoft JhengHei", sans-serif;
}
.head_text {
  font-size: 48px;
  margin-bottom: 20px;
}
.welcome {
  font-size: 24px;
  margin-bottom: 10px;
}
.logout {
  width: 90px;
  border-style: solid;
  border-width: 1.5px;
}
.logout:hover {
  color: CornflowerBlue;
  cursor: default;
}
